/* navbar styling */

nav {
  background-color: darkgray;
  padding: 5px;
  border-radius: 15px;
}

/* Add a black background color to the top navigation */
nav {
  background-color: #ece8e8;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 15px;
}

/* Add an active class to highlight the current page */
nav a.active {
  background-color: DarkSalmon;
  color: white;
  border-radius: 20px;
}

/* Hide the link that should open and close the nav on small screens */
nav .icon {
  display: none;
}

/* css of the homepage */

.hero {
  text-align: center;
}
.headshot {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* styling footer */
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}

/* styling of portfolio */
.portfolio-section {
  margin: 30px 20px;
}

/* styling of portfolio */
.about-section {
  margin: 30px 20px;
}
