/* navbar styling */

nav {
  background-color: darkgray;
  padding: 5px;
  border-radius: 15px;
}

/* Add a black background color to the top navigation */
nav {
  background-color: #ece8e8;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  gap: 15px;
}

/* Style the links inside the navigation bar */
.navbar a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 15px;
}

/* Change the color of links on hover */
navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
nav a.active {
  background-color: DarkSalmon;
  color: white;
  border-radius: 20px;
}

/* Hide the link that should open and close the nav on small screens */
nav .icon {
  display: none;
}

/* stying of the social links */
.nav a {
  display: flex;
  text-decoration: none;
  margin-right: 10px;
  color: black;
  font-weight: bold;
}

.social-links {
  display: flex;
  gap: 0px;
  justify-content: right;
}

.social-links img {
  width: 20px;
  height: 20px;
}

/* css of the homepage */

.hero {
  text-align: center;
}
.headshot {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* styling footer */
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}

/* styling of portfolio */
.portfolio-section {
  margin: 30px 20px;
}

/* styling of portfolio */
.about-section {
  margin: 30px 20px;
}
